[submodule "DZ2/Alisa"]
	path = DZ2/Alisa
	url = https://github.com/Alisa11110000/oap_progi
[submodule "DZ2/Arina"]
	path = DZ2/Arina
	url = https://github.com/25timezone/OAP
[submodule "DZ2/Alex"]
	path = DZ2/Alex
	url = https://github.com/mgkk6/OAP_ZADACHI
[submodule "DZ3/fem"]
	path = DZ3/fem
	url = https://github.com/StudLabs/fem
